# folders and sub-folders to ignore
aria2/.aria2/aria2.session
aria2/.aria2/input.conf
lvim/.config/lvim/lazy-lock.json
gh/
gitconfig/
ngrok/
ssh/
mpv/.config/mpv/watch_later/
cargo/.config/cargo/registry/
newboat/.newboat/cache.db
transmission-daemon/.config/transmission-daemon/dht.dat
transmission-daemon/.config/transmission-daemon/resume/
transmission-daemon/.config/transmission-daemon/stats.json
transmission-daemon/.config/transmission-daemon/torrents/
zsh/.config/zsh/secrets.zsh
zsh/.config/zsh/.zsh_history
zsh/.zsh_history
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompcache/
