# Dual monitor displays
"$HOME/.scripts/dual-monitor-setup.sh"
# "$HOME/.scripts/google-tv-setup.sh"

# Export session type
export XDG_SESSION_TYPE=x11
export GDK_BACKEND=x11

# Start network applet in the background
nm-applet &

# Restore wallpaper
sh ~/.fehbg

# Xsettingsd
xsettingsd &

# Set the default cursor to 'left_ptr'
xsetroot -cursor_name left_ptr

# Load Xresources
xrdb -merge ~/.Xresources

# Xset Configurations
xset r rate 660 25
xset s off
xset -dpms
xset m 2/1 4

# Launch BSPWM
exec bspwm
